@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.wrapper {
    width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.button {
    height: 48px;
    background-color: #efc368;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: #214842;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 48px;
    padding: 0 20px;
    width: fit-content;
}

/* Home */

.hero {
    background: rgba(250, 250, 245, 0.5);
    width: 1920px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__header-wrapper {
    /* height: 104px; */
    background: #fcfcfa;
    width: 1920px;

    height: 120px;
    display: flex;
    align-items: center;
}

.hero__header-wrapper.white {
    background: white;
    height: 120px;
    display: flex;
    align-items: center;
}

.hero__header-wrapper.white .hero__header {
    margin: 0 auto;
}

.hero__header {
    width: 1360px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__header_nav {
    width: 470px;
}

.hero__header_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.hero__header_nav a {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #214842;
}

.hero__header_tel_buy-wrapper {
    display: flex;
}

.hero__header_tel_icon {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #258f67;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hero__header_tel_icon img {
    width: 17px;
    height: 16px;
}

.hero__header_tel {
    display: flex;
    align-items: center;
}

.hero__header_tel_number {
    margin-left: 13px;
}

.hero__header_tel_number a {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #214842;
}

.hero__header_buy {
    width: 172px;
    height: 40px;
    border: #efc368 1px solid;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.hero__header_buy_text {
    position: absolute;
    left: 0px;
}

a .hero__header_buy_text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    margin-left: 14px;
    color: #214842;
}

.hero__header_buy_icon {
    position: absolute;
    right: 0px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #efc368;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
}

.hero__product {
    width: 1360px;
    height: 600px;
    margin-top: 97px;
    display: flex;
}

.hero__product_description {
    height: 600px;
    width: 510px;
    margin-left: 60px;
}

.hero__product_description h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 62px;
    color: #214842;
    margin-top: 102px;
}

.hero__product_description p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: justify;
    color: #556260;
    padding-right: 75px;
    margin-top: 23px;
}
.hero__product_description .button {
    margin-top: 29px;
}

.hero__product_image-wrapper {
    position: relative;
    height: 600px;
    width: 710px;
}

.hero__product_image-bg1 {
    position: absolute;
    width: 345px;
    height: 524px;
    top: 67px;
    left: 185px;
    background: rgba(239, 195, 104, 0.47);
    filter: blur(90px);
    z-index: 1px;
}

.hero__product_image-bg2 {
    position: absolute;
    width: 636px;
    height: 55px;
    bottom: 4px;
    left: 44px;
    background: #000000;
    filter: blur(70px);
    z-index: 2;
}

.hero__product_image {
    position: absolute;
    z-index: 3;
}

.hero__advantages {
    height: 60px;
    width: 1186px;
    margin-top: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__advantages_elem {
    width: 208px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hero__advantages_elem_image {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(37, 143, 103, 0.1);
}

.hero__advantages_elem_image img {
    display: flex;
}

.hero__advantages_elem_desc {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #214842;
    margin-left: 20px;
    width: 128px;
    height: 100%;
    display: flex;
    align-items: center;
}

.products {
    width: 1360px;
    height: 1437px;
    margin: 100px auto 0 auto;
}

.products h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #214842;
    text-align: center;
}

.products__subtitle {
    max-width: 620px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    color: #556260;
    margin-bottom: 57px;
}

.products__cards {
    display: flex;
    justify-content: space-between;
}

.products__card {
    width: 23%;
    height: 678px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(37, 143, 103, 0.1);
    border-radius: 16px;
}

.products__card img {
    border-radius: 16px;
}

.products__card h4 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #214842;
    width: 213px;
    margin: 29px auto 0 auto;
}

.products__card p {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #214842;
    width: 258px;
    margin: 20px auto;
}

.banner {
    height: 493px;
    margin-top: 97px;
    background: #fafaf5;
    display: flex;
    border-radius: 16px;
}

.banner__description {
    height: 100%;
    width: 50%;
    padding: 108px 150px 108px 97px;
}

.banner__description h3 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #214842;
    margin-bottom: 21px;
}

.banner__description p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #556260;
    margin: 20px 0;
}

.banner__image {
    height: 100%;
    width: 50%;
    background-image: url("../images/leaves.png");
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__image_logo {
    height: 85px;
}

.banner__image_text {
    margin-top: 18px;
    height: 44px;
}

.about {
    width: 1220px;
    min-height: 900px;
    margin: 90px auto 0 auto;
}

.about h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #214842;
    width: 843px;
    margin: 0 auto;
}

.about__sections {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.about__section {
    display: flex;
    flex-direction: row;
    height: 345px;
    margin-top: 56px;
    align-items: center;
}

.img-right {
    margin-right: 56px;
}

.img-left {
    margin-left: 56px;
}

.about__section-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #556260;
}

.about__section-text p {
    margin: 25px 0;
}

.about-txt {
    height: 1000px;
    background-image: url("../images/swing.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.about-txt-wrapper {
    margin: 30px;
    max-width: 1120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-txt h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    margin: 48px 0 33px 0;
}

.about-txt p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

.about-txt .button {
    margin-top: 77px;
}

.advantages {
    width: 1310px;
    height: 530px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.advantages__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__header h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #214842;
}

.advantages__header p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #556260;
    max-width: 510px;
    margin-top: 15px;
}

.advantages__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 340px;
    align-items: center;
}

.advantages__card_circle-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(37, 143, 103, 0.1);
    flex-shrink: 0;
}

.advantages__card [alt="drop"] {
    height: 51px;
}

.advantages__card [alt="nose"],
.advantages__card [alt="head"] {
    height: 56px;
}

.advantages__card [alt="cream"] {
    height: 51px;
}

.advantages__card h4 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #214842;
    margin-top: 30px;
}

.advantages__card p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #556260;
    margin-top: 15px;
}

.effects {
    height: 830px;
    width: 1920px;
    margin-top: 86px;
    display: flex;
    background: #fafaf5;
}

.effects__image {
    height: 650px;
    width: 620px;
    margin: 90px 80px 90px 280px;
}

.effects__image img {
    border-radius: 16px;
}

.effects__faq {
    height: 650px;
    width: 660px;
    margin: 90px 280px 90px 0;
    position: relative;
}

.effects__faq h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #214842;
}

.effects__faq .effects__faq-subtitle {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #556260;
    margin-top: 27px;
}

.effects__faq-accordions {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.effects__faq-accordion {
    width: 660px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(37, 143, 103, 0.1);
    border-radius: 16px;
    margin: 10px 0;
    transition: all 0.2s ease-out;
}

.effects__faq .button {
    position: absolute;
    bottom: 40px;
}

.effects__faq-accordion .accordion {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #214842;
    margin: 16px 30px;
    cursor: pointer;
    /* transition: color 0.3s ease-out; */
}

.effects__faq-accordion.active .accordion,
.effects__faq-accordion .accordion:hover {
    color: #258f67;
}

.effects__faq-accordion p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #556260;
    margin: 0 30px;
    opacity: 0;
    transition: all 0.1s ease-out;
    visibility: hidden;
}

.effects__faq-accordion .accordion:after {
    content: "\002B";
    font-family: "Font Awesome 5 Pro";
    font-size: 22px;
    line-height: 26px;
    color: #214842;
    float: right;
    margin-left: 5px;
}

.effects__faq-accordion.active .accordion:after {
    content: "\2212";
}

.effects__faq-accordion.active {
    height: 179px;
}

.effects__faq-accordion.active p {
    opacity: 1;
    visibility: visible;
}

.footer {
    width: 1920px;
    height: 660px;
}

.footer__big {
    width: 1920px;
    height: 550px;
    background: #214842;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__big-wrapper {
    width: 1380px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.footer__big_logo {
    width: 230px;
    height: 250px;
}

.footer__big_logo img[alt="logo"] {
    margin-top: -18px;
}

.footer__big_logo p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.footer__big_logo_social {
    width: 132px;
    height: 31px;
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__big_logo_social img {
    height: 18px;
    display: block;
}

.footer__big_shop {
    width: 250px;
    height: 250px;
}

.footer__big_shop h2 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
}

.footer__big_shop_list {
    min-height: 40px;
    width: 100%;
    margin: 20px 0;
    display: flex;
}

.footer__big_shop_list.center {
    align-items: center;
}

.footer__big_shop_list-wrapper {
    width: 34px;
    height: 34px;
    background: #efc368;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer__big_shop_list-desc-box {
    display: flex;
    flex-direction: column;
}

.footer__big_shop_list-desc-box a:nth-child(2) {
    margin-top: 15px;
    color: #efc368;
}

.footer__big_shop_list p,
.footer__big_shop_list a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-left: 20px;
}

.footer__big_menu {
    width: 150px;
    height: 250px;
}

.footer__big_menu h2 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
}

.footer__big_menu ul {
    list-style: none;
    margin-top: 20px;
}

.footer__big_menu ul li {
    margin-top: 15px;
}

.footer__big_menu ul li a {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.footer__big_menu ul li img {
    margin-right: 5px;
}

.footer__big_instagram {
    width: 312px;
    height: 250px;
}

.footer__big_instagram h2 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
}

.footer__big_instagram-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 165px;
    margin-top: 20px;
}

.footer__big_instagram-image-grid img {
    border-radius: 8px;
}

.footer__copyright {
    width: 1920px;
    height: 110px;
    background: #fafaf5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__copyright-owner {
    height: 30px;
    width: 550px;
    display: flex;
}

.footer__copyright-owner p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #214842;
    margin-right: 10px;
}

.footer__copyright-slogans {
    height: 50px;
    width: 470px;
    display: flex;
    justify-content: space-between;
}

.footer__copyright-slogan {
    display: flex;
    align-items: center;
}

.footer__copyright-slogan p {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #214842;
    margin-left: 12px;
}

/*  Współpraca  */

.header {
    height: 300px;
    width: 100%;
    background: #fafaf5;
}

.header h1 {
    font-family: "Nunito Sans";
    font-weight: 900;
    font-size: 56px;
    line-height: 62px;
    text-align: center;
    color: #214842;
    padding: 78px 0 15px 0;
}

.header p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #556260;
    width: 500px;
    margin: 0 auto;
}

.content-wrapper {
    width: 1360px;
    margin: 0 auto;
}

.breadcrumbs {
    height: 120px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.breadcrumbs__bottom-line {
    width: 80px;
    border-bottom: 2px solid #258f67;
    padding-bottom: 20px;
}

.breadcrumbs__bottom-line p {
    white-space: nowrap;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #214842;
}

.breadcrumbs__bottom-line p a {
    color: #258f67;
    font-weight: 700;
}

.content {
    width: 1360px;
    height: 506px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

.content-text {
    width: 600px;
}

.content-image {
    width: 660px;
}

.content-image img {
    border-radius: 16px;
}

.content-text h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #214842;
    margin-bottom: 30px;
}

.content-text p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #556260;
    margin: 20px 0;
}

.content-text ul {
    padding-left: 5px;
}

.content-text li {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #556260;
    margin: 3px 0;
    list-style-type: none;
}

.content-text span {
    color: #258f67;
    font-weight: bold;
    font-size: 17px;
}

.content-text .button {
    margin-top: 30px;
}

.contacts {
    width: 1360px;
    height: 523px;
    display: flex;
    margin-bottom: 72px;
    flex-direction: column;
}

.contacts__header h1 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #214842;
}

.contacts__header p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #556260;
}

.contacts__cards {
    margin-top: 64px;

    height: 390px;
    display: flex;
    justify-content: space-between;
}

.contacts__card {
    width: 655px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(37, 143, 103, 0.1);
    border-radius: 16px;
}

.contacts__card h4 {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #214842;
    margin-bottom: 24px;
}

.contacts__card p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #556260;

    margin: 20px 0;
}

.contacts__card img {
    margin: 15px 0 15px 170px;
    text-align: center;
}

.contacts__card .button {
    margin-top: 24px;
    border: 1px solid #258f67;
    background: white;
    color: #258f67;
}

.contacts__card a {
    color: #258f67;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 22px;
}

/* Distribution */

.shops_list {
    width: 1360px;
    height: 428px;
    margin-bottom: 74px;
}

.shops_list h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #214842;
    text-align: center;
}

.shops_list-table {
    width: 1360px;
    height: 335px;
    margin-top: 48px;
    margin-bottom: 74px;
    background: #fafaf5;
    border-radius: 16px;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    position: relative;
}

.shops_list-table-blur {
    position: absolute;
    height: 15px;
    width: 1100px;
    left: 130px;
    top: 150;
    background: #000000;
    filter: blur(50px);
    z-index: -1;
}

.shops_list-table table {
    width: calc(100% - 100px);
    margin: 20px 50px;
    border-collapse: collapse;
    z-index: 1;
}

.shops_list-table th {
    color: rgba(33, 72, 66, 0.7);
    border-bottom: 1px solid #e5e5cb;
    height: 80px;
    vertical-align: middle;
}

.shops_list-table th:nth-of-type(1),
.shops_list-table td:nth-of-type(1) {
    text-align: left;
}

.shops_list-table th:nth-of-type(2),
.shops_list-table td:nth-of-type(2) {
    text-align: center;
}

.shops_list-table th:nth-of-type(3) {
    text-align: right;
}

.shops_list-table td:nth-of-type(3) {
    text-align: right;
}

.shops_list-table td {
    color: #556260;
    width: 30%;
    border-bottom: 1px solid #e5e5cb;
    height: 120px;
    vertical-align: middle;
}

.shops_list-table .button {
    border: 1px solid #258f67;
    background: white;
    color: #258f67;
    display: inline-block;
}

.shops_list-table p {
    text-align: center;
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 44px;
    color: #556260;
    margin-top: 36px;
}

.shops_list-table a {
    color: #258f67;
}

.contact__cards {
    width: 1250px;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

.contact__card {
    width: 570px;
    height: 180px;
}

.contact__card h2 {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #214842;
    margin-bottom: 15px;
}

.contact__card p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #556260;
    padding-right: 30px;
}

.contact__form {
    width: 1305px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.contact__form_inputs {
    height: 560px;
    width: 570px;
}

.contact__form_data {
    height: 560px;
    width: 570px;
}

.contact__form_inputs .label {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #214842;
    margin-bottom: 10px;
}

.contact__form_inputs input[type="text"] {
    width: 540px;
    height: 48px;
    border: 1px solid #c6c6c6;
    border-radius: 24px;
    padding: 0 20px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #214842;
    margin-bottom: 30px;
}

.contact__form_inputs input::placeholder,
.contact__form_inputs textarea::placeholder {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #807e7e;
    opacity: 1;
}

.contact__form_inputs textarea {
    border: 1px solid #c6c6c6;
    border-radius: 24px;
    padding-left: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #214842;
    margin-bottom: 20px;
    width: 546px;
    height: 156px;
    padding: 20px;
}

.contact__form_inputs .checkbox {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #979797;
    display: flex;
    align-items: center;
}

.contact__form_inputs .container {
    display: block;
    position: relative;
    padding: 0 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #979797;
    user-select: none;
}

.contact__form_inputs .button {
    cursor: pointer;
}

.container {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #979797;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
}

.container:hover input ~ .checkmark {
    border: 2px solid #258f67;
}

.container input:checked ~ .checkmark {
    background-color: #258f67;
    border: 1px solid #258f67;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.contact__form_data {
    width: 625px;
}

.contact__form_data img {
    height: 43px;
}

.contact__form_data-list {
    height: 200px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__form_data-list .list-elem,
.contact__form_data-list .list-elem a {
    height: 48px;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #214842;
}

.contact__form_data-list .list-elem .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #efc368;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.contact__form_data-list img {
    height: 18px;
}

.contact__form_data-list .list-elem .owner {
    height: 26px;
    margin-left: 10px;
}

.contact__form_data-social {
    margin-top: 35px;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.contact__form_data-social img {
    height: 18px;
}
